body {
  margin: 0 auto;
  background: #020202;
  cursor: crosshair;
  text-align: center;
}

canvas{display:block}

#hpbd-song {
  display: none;
}

img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 700px;
  width: 100%;
  height: auto;
}

#playButton {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 24px;
  border-radius: 100px;
  color: #fff;
  border: none;
  background: green;
  font-size: 1.2em;
  font-weight: 800;
  font-family: "Fraunces";
}

p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #aaa;
  width: 100%;
  font-style: italic;
}
