body {
  margin: 0 auto;
  background: #020202;
  cursor: crosshair;
  text-align: center;
}

canvas{display:block}

#hpbd-song {
  display: none;
}

img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 700px;
  width: 100%;
  height: auto;
}

#playButton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 25px;
  border-radius: 100px;
  color: #fff;
  border: 1px solid #fff;
  background: #020202;
}

p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #aaa;
  width: 100%;
}
